<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <div id = "logo">Logo</div>
    <div id = "account"><%' + sess.userName + '%></div>
  </header>
  <main>
    <section id = "leftpart">
      <div id = "video">

      </div>
      <div id = "vidtext">
        <div id = "leftext">
          <h1>Pseudo</h1>
          <h2>Nom Vidéo</h2>
        </div>
        <p id = "vues">Nombre de vues</p>
      </div>
    </section>



    <section id = "test">
      <ul>
        <li></li>
      </ul>


    </section>



    <section id = "chat">
      <div id = "sentmsgsbox">

      </div>
      <div id = "loweright">
        <div id = "msgbar">

        </div>
        <div id = "send">
          <p>Envoyer</p>
        </div>
      </div>
    </section>
  </main>
</body>